@charset "UTF-8";

h1 {
    color: rgb(65, 161, 65);
}

h2 {
    color: rgb(46, 102, 46);

}

h1#principal {
    text-align: center;
    background-color: rgb(1, 65, 1);
    color: white;
}

body {
    background-color: rgb(154, 226, 154);
    font-family: Arial, Helvetica, sans-serif;
}

.basico {
    color: green;
    font-weight: bold;
}

.intermediario {
    color: rgb(126, 128, 0);
}

.avancado {
    color: rgb(128, 0, 0);
}

.destaque {
    background-color: rgba(216, 216, 47, 0.411);
}